.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    position: relative;

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    &::after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: 0;
    }
}